<% if(typeof locals.allErrorMessages === 'object' && locals.allErrorMessages[key]) {%>
    <div class="alert alert-danger" role="alert">
         <%= locals.allErrorMessages[key] %>
    </div>
<% } %>
